<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%highlight{%d{HH:mm:ss.SSS} [coffee-runner] %-5level %logger{3} : %msg%n}{FATAL=red bold, ERROR=red bold}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.github.dekaulitz" level="info"/>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
